.board {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 16px;
  overflow-x: auto;
  overflow-y: hidden;          
  background-color: #f4f5f7;
  height: auto; 
  min-height: 90vh;                
  align-items: flex-start;
}


.list {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 272px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}


.list-title {
  font-weight: bold;
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
}

.task {
  background-color: #fff;
  margin: 8px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  border: 1px solid #dfe1e6;
  cursor: grab;
}


.task-list {
  background-color: #f8f9fa;
  padding: 8px;
  min-height: 10px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.task-list.is-dragging-over {
  background-color: #9bf0c4;
}

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex; justify-content: center; align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 16px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  margin: 8px 0;
}